body{
	background-repeat: no-repeat;
	background-size: cover;
}
.container{
	width:1140px;
	margin:0 auto;
}
a{
	text-decoration:none;
}
.nav{
	display:flex;
	margin-top:40px;
	align-items:center;
}
.menu li a{
	color:white;
}
.menu{
	margin-left:200px;
	display:flex;
	transition:all 0.5 ease;
}
.menu li a{
	margin-right:100px;
	transition:all 0.5s ease;
	font-size:20px;
}
.menu li  :hover{
	color:red;

}
ul,li{
	display:block;
}
.form {
	display:block;
	position: absolute;
	right:150px;
	top:250px;
	color:#ffffff;
	font-size:20px;
	text-align:center;
}
.form a{
	color:#ffffff;
	transition:all 0.5s ease;
}
.form a:hover{
	color:red;
}
input[type="text"],input[type="password"]{
	width:300px;
	height:20px;
	border-radius:5px;
	background: rgba(0,0,0,0.8);
	padding-left:10px;
}
input[type="submit"]:hover{
	background-color:red;
	border-radius:5px;
	
}
input[type="submit"]{
	border-radius:5px;
	transition:all 0.5s ease;
}

